

<ion-item color="danger">
  <ion-label>
 <b>RESTAURANT
  </b>
  </ion-label>
  
  
  <ion-avatar slot="start" class="player">
    <img src="assets/ristoranteuno.jpg" class="player">
  </ion-avatar>
  <ion-avatar slot="end" class="player">
    <img src="assets/panini.jpg" class="player">
  </ion-avatar>
  <ion-avatar slot="end" class="player">
    <img src="assets/pizza.jpg" class="player">
  </ion-avatar>
  <ion-buttons slot="end">
    <ion-button color="warning" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
     
    </ion-button>
  </ion-buttons>

</ion-item>

  

    