<app-header-rider [title]="headerTitle"></app-header-rider>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-item>

            <ion-label>Ristorante: nome, Indirizzo</ion-label>
            <ion-button fill="outline" slot="end">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags, within an
            ion-card-content element.

            <ion-row>
              <ion-col>
                <ion-button color="primary" type="button" mode="md"
                  >Candidati</ion-button
                >

                <ion-button color="success" type="button" mode="md">
                  <ion-icon name="share-social-outline"></ion-icon>
                  Condividi</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <ion-item>

            <ion-label>Ristorante: nome, Indirizzo</ion-label>
            <ion-button fill="outline" slot="end">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-content>
            This is content, without any paragraph or header tags, within an
            ion-card-content element.

            <ion-row>
              <ion-col>
                <ion-button color="primary" type="button" mode="md"
                  >Candidati</ion-button
                >

                <ion-button color="success" type="button" mode="md">
                  <ion-icon name="share-social-outline"></ion-icon>
                  Condividi</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>

  <app-rider-tab [idRider]="idRider"></app-rider-tab>
</ion-content>
