
  <ion-tab-bar class="md hydrated">
    <ion-tab-button  >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifiche</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Candidature Ricevute</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="annunci()">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Annunci</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>
